{% load static %} {% include 'header.html' %}
<main class="main-body">
  <div class="container anonymous-page-container">
    <div class="row anonymous-row">
      <div class="col-md-12 login-form-colu">
        <div class="form-div complain-details-form-div">
          <div class="anonymous-form-head">
            <h3 class="register-heading">User Details</h3>
          </div>
          <form role="form" method="post" action="{% url 'management:anonymous_complain'%}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="anonymous-form">
              <div class="row">
                <div class="col form-group">
                  <label for="firstname" class="form-label anonymous-form-label">First Name(नाम)*</label>
                  <input type="text" class="form-control" id="firstname" placeholder=" Enter your First name" aria-label="First name" name="first_name" />
                </div>
                <div class="col form-group">
                  <label for="lastname" class="form-label anonymous-form-label">Last Name(थर)*</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Enter your Last name" aria-label="Last name" name="last_name" />
                </div>
                <div class="col form-group">
                  <label for="exampleInputPhoneNumber" class="form-label anonymous-form-label">Phone Number(फोन नम्बर)*</label>
                  <input type="text" class="form-control phone-field" id="exampleInputPhoneNumber" name="phone_number" placeholder="Enter your Phone Number" />
                </div>
                <div class="col form-group">
                  <label for="exampleInputAddress" class="form-label anonymous-form-label">Address (ठेगाना)*</label>
                  <input type="text" class="form-control address-field" id="exampleInputAddress" name="person_address" placeholder="Enter your Address" />
                </div>
              </div>
            </div>
            <div class="row complain-details-form-head">
              <h3 class="register-heading">Complain Details</h3>
            </div>
            <div class="anonymous-form">
              <div class="row">
                <div class="col form-group">
                  <label for="exampleInputCateogry" class="form-label anonymous-form-label">Complain Category ( गुनासो वर्ग)*</label>
                  <select class="form-select" aria-label="Default select example" id="complain_category" name="complain_category">
                    {% for c in complain_category %}
                    <option value="{{c.id}}">{{c}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="col form-group">
                  <label for="exampleInputComplaintitle" class="form-label anonymous-form-label">Complain Title*</label>
                  <input type="text" class="form-control" id="exampleInputComplaintitle" name="complain_title" placeholder="Enter the Complain Title" />
                </div>
              </div>
              <div class="row">
                <div class="col form-group">
                  <label for="exampleInputCateogry" class="form-label anonymous-form-label">Complain Secrecy *</label>
                  <select class="form-select" aria-label="Default select example" name="secrecy">
                    <option selected>Required Secrecy</option>
                    <option value="1">Doesnot require Secrecy</option>
                  </select>
                </div>
                <div class="col form-group">
                  <label for="exampleInputCateogry" class="form-label anonymous-form-label">Complain Priority *</label>
                  <select class="form-select" aria-label="Default select example" name="priority">
                    <option value="1">Normal</option>
                    <option value="2">Urgent</option>
                    <option value="3">Very Urgent</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="exampleInputAddress" class="form-label anonymous-form-label">Address (ठेगाना)*</label>
                  <div class="row">
                    <div class="col-md-3 form-group">
                      <label for="exampleInputAddress" class="form-label anonymous-form-label">Province No. (प्रदेश)</label>
                      <input type="text" class="form-control" id="exampleInputAddress" name="province" />
                    </div>
                    <div class="col-md-2 form-group">
                      <label for="exampleInputAddress" class="form-label anonymous-form-label">District (जिल्ला)</label>
                      <input type="text" class="form-control" id="exampleInputAddress" name="district" />
                    </div>
                    <div class="col-md-3 form-group">
                      <label for="exampleInputAddress" class="form-label anonymous-form-label">Municipality (नगरपालिका)</label>
                      <input type="text" class="form-control" id="exampleInputAddress" name="municipality" />
                    </div>
                    <div class="col-md-2 form-group">
                      <label for="exampleInputAddress" class="form-label anonymous-form-label">Ward no. (वडा न.)</label>
                      <input type="text" class="form-control" id="exampleInputAddress" name="ward" />
                    </div>
                    <div class="col-md-2 form-group">
                      <label for="exampleInputAddress" class="form-label anonymous-form-label">Tole (टोल)</label>
                      <input type="text" class="form-control" id="exampleInputAddress" name="tole" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col form-group">
                  <label for="exampleInputComplaintitle" class="form-label anonymous-form-label">Complain Description *</label>
                  <textarea class="form-control text-area" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col form-group">
                  <label for="formFileSm" class="form-label">Image or File (if any)</label>
                  <input class="form-control file-upload-field form-control-sm" id="formFileSm" type="file" name="complain_image" />
                </div>
              </div>
            </div>
            <div class="submit-btn-div">
              <button type="submit" id="submit" class="btn btn-primary complain-submit-btn btn-lg">Submit (पेश गर्नुहोस्)</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% include 'footer.html' %}
