{% load static %}
{% include 'header.html' %}
<main class="main-body">
      <section class="info-section">
        <div class="container">
          <div class="row info-row">
            <div class="col-md-5 info_content_colu">
              <h4 class="front-card-title">गुनासोको नमुना</h4>
              <div class="row card-row row-cols-1 row-cols-md-1 g-4">
                <div class="col">
                  <div class="card">
                    <div class="card-body complain-sample-body">
                      <div class="card-heading">
                        <h5 class="card-title complain-sample-title">Restaurants</h5>
                        <span class="material-symbols-outlined"> search </span>
                      </div>
                      <div class="complain-list-div">
                        <div class="card-status-sec">
                          <h6 class="card-token">+10-14-1999</h6>
                          <p>Token no.</p>
                        </div>
                        <button class="btn status-btn btn-primary">Status</button>
                      </div>
                      <div class="complain-list-div">
                        <div class="card-status-sec">
                          <h6 class="card-token">+10-14-1999</h6>
                          <p>Token no.</p>
                        </div>
                        <button class="btn status-btn btn-primary">Status</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <div class="card-body complain-sample-body">
                      <div class="card-heading">
                        <h5 class="card-title complain-sample-title">Shops</h5>
                        <span class="material-symbols-outlined"> search </span>
                      </div>
                      <div class="complain-list-div">
                        <div class="card-status-sec">
                          <h6 class="card-token">+10-14-1999</h6>
                          <p>Token no.</p>
                        </div>
                        <button class="btn status-btn btn-primary">Status</button>
                      </div>
                      <div class="complain-list-div">
                        <div class="card-status-sec">
                          <h6 class="card-token">+10-14-1999</h6>
                          <p>Token no.</p>
                        </div>
                        <button class="btn status-btn btn-primary">Status</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <h4 class="front-card-title">गुनासोको बारे सूचना</h4>
              <div class="hero-para-div">
                <p class="hero_para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus amet, sequi veritatis nobis nam animi esse nihil maxime tempore rerum ipsam doloribus repudiandae, at voluptate pariatur? Nihil magnam atque molestias.</p>
              </div>

              <h4 class="front-card-title">गुनासोको संख्या</h4>
              <div class="row">
                <div class="container stat-container">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card stat-card">
                        <span class="material-symbols-outlined"> fastfood </span>
                        <div class="card-body stat-card-body">
                          <h5 class="card-title">2345456</h5>
                          <p class="card-text">This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card stat-card">
                        <span class="material-symbols-outlined"> fastfood </span>
                        <div class="card-body stat-card-body">
                          <h5 class="card-title">2345456</h5>
                          <p class="card-text">This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card stat-card">
                        <span class="material-symbols-outlined"> fastfood </span>
                        <div class="card-body stat-card-body">
                          <h5 class="card-title">2345456</h5>
                          <p class="card-text">This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card stat-card">
                        <span class="material-symbols-outlined"> fastfood </span>
                        <div class="card-body stat-card-body">
                          <h5 class="card-title">2345456</h5>
                          <p class="card-text">This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card stat-card">
                        <span class="material-symbols-outlined"> fastfood </span>
                        <div class="card-body stat-card-body">
                          <h5 class="card-title">2345456</h5>
                          <p class="card-text">This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card stat-card">
                        <span class="material-symbols-outlined"> fastfood </span>
                        <div class="card-body stat-card-body">
                          <h5 class="card-title">2345456</h5>
                          <p class="card-text">This content is a little bit longer.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  {% include 'footer.html' %}

