{% load static %}
{% include 'header.html' %}
<main class="main-body">
    <div class="container login-page-container">
      <div class="row">
        <div class="col-md-6 login-form-colu">
          <div class="register-form-div">
            <div class="register-form-head">
              <h3 class="register-heading">Register New Account</h3>
              <p>Please fill in the form below to register.</p>
            </div>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <form class="login_form" role="form" method="post", action="{% url 'account:signup' %}">
                {% csrf_token %}
              <div class="row">
                <div class="col form-group">
                  <label for="firstname" class="form-label login-form-label">First Name(नाम)*</label>
                  <input type="text" class="form-control" id="firstname" placeholder=" Enter your First name" aria-label="First name" name="first_name" />
                </div>
                <div class="col form-group">
                  <label for="lastname" class="form-label login-form-label">Last Name(थर)*</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Enter your Last name" aria-label="Last name" name="last_name" />
                </div>
              </div>
              <div class="row">
                <div class="col form-group">
                  <label for="exampleInputEmail1" class="form-label login-form-label">Email Address (इ-मेल ठेगाना)*</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your Email Address"  name="email"/>
                </div>
                <div class="col form-group">
                  <label for="username" class="form-label login-form-label">Username(युजरनेम)*</label>
                  <input type="text" class="form-control" id="username" placeholder="Enter your username" aria-label="user name" name="username" />
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword" class="form-label login-form-label">Password (पासवर्ड)*</label>
                <input type="password" class="form-control" id="exampleInputPassword" name="password" placeholder="Enter your Password" />
              </div>
              <div class="form-group">
                <label for="exampleInputPhoneNumber" class="form-label login-form-label">Phone Number (फोन नम्बर)*</label>
                <input type="text" class="form-control" id="exampleInputPhoneNumber"  placeholder="Enter your Phone Number" name="phone_number" />
              </div>
              <div class="form-group">
                <label for="exampleInputAddress" class="form-label login-form-label">Address(ठेगाना)*</label>
                <input type="text" class="form-control" id="exampleInputAddress" name="address" placeholder="Enter your Address" />
              </div>
              <!-- <div class="form-group">
                <label for="exampleInputCateogry" class="form-label login-form-label">User Category ( ग्राहक वर्ग)*</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected>General User</option>
                  <option value="1">Admin</option>
                  <option value="2">Super Admin</option>
                </select>
              </div> -->

              <button type="submit" id="submit" class="btn btn-primary login-page-btn btn-lg">Submit (पेश गर्नुहोस्)</button>
            </form>
            <div class="link mt-3">
              <a class="bck-to-login" href='{% url 'account:login' %}'>Back to Login (लगइनमा जानुहोस्)</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 information-colu">
          <div class="information-div">
            <h4 class="information-heading">Web enabled complaint-portal helps you to complain about your services to dftqc office directly</h4>
            <ul class="info-list register-info-list">
              <li class="lists">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit odit rem doloremque sunt molestias voluptas nemo saepe? Reiciendis, ducimus aliquam, deserunt porro sapiente minima necessitatibus molestiae consectetur nobis alias a!</li>
              <li class="lists">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit odit rem doloremque sunt molestias voluptas nemo saepe? Reiciendis, ducimus aliquam, deserunt porro sapiente minima necessitatibus molestiae consectetur nobis alias a!</li>
              <li class="lists">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit odit rem doloremque sunt molestias voluptas nemo saepe? Reiciendis, ducimus aliquam, deserunt porro sapiente minima necessitatibus molestiae consectetur nobis alias a!</li>
              <li class="lists">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit odit rem doloremque sunt molestias voluptas nemo saepe? Reiciendis, ducimus aliquam, deserunt porro sapiente minima necessitatibus molestiae consectetur nobis alias a!</li>
              <li class="lists">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit odit rem doloremque sunt molestias voluptas nemo saepe? Reiciendis, ducimus aliquam, deserunt porro sapiente minima necessitatibus molestiae consectetur nobis alias a!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
{% include 'footer.html' %}
